<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxu.crm.basic.mapper.CrmReceivablesMapper">
  <resultMap id="BaseResultMap" type="com.sxu.crm.basic.domain.CrmReceivables">
    <!--@mbg.generated-->
    <!--@Table crm_receivables-->
    <id column="receivables_id" jdbcType="INTEGER" property="receivablesId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="plan_id" jdbcType="INTEGER" property="planId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="contract_id" jdbcType="INTEGER" property="contractId" />
    <result column="check_status" jdbcType="INTEGER" property="checkStatus" />
    <result column="examine_record_id" jdbcType="INTEGER" property="examineRecordId" />
    <result column="return_time" jdbcType="DATE" property="returnTime" />
    <result column="return_type" jdbcType="VARCHAR" property="returnType" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="owner_user_id" jdbcType="BIGINT" property="ownerUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="batch_id" jdbcType="VARCHAR" property="batchId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    receivables_id, `number`, plan_id, customer_id, contract_id, check_status, examine_record_id, 
    return_time, return_type, money, remark, create_user_id, owner_user_id, create_time, 
    update_time, remarks, batch_id
  </sql>
  <select id="selectByExample" parameterType="com.sxu.crm.basic.domain.CrmReceivablesExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crm_receivables
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from crm_receivables
    where receivables_id = #{receivablesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from crm_receivables
    where receivables_id = #{receivablesId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sxu.crm.basic.domain.CrmReceivablesExample">
    <!--@mbg.generated-->
    delete from crm_receivables
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="receivables_id" keyProperty="receivablesId" parameterType="com.sxu.crm.basic.domain.CrmReceivables" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into crm_receivables (`number`, plan_id, customer_id, 
      contract_id, check_status, examine_record_id, 
      return_time, return_type, money, 
      remark, create_user_id, owner_user_id, 
      create_time, update_time, remarks, 
      batch_id)
    values (#{number,jdbcType=VARCHAR}, #{planId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, 
      #{contractId,jdbcType=INTEGER}, #{checkStatus,jdbcType=INTEGER}, #{examineRecordId,jdbcType=INTEGER}, 
      #{returnTime,jdbcType=DATE}, #{returnType,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{ownerUserId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{batchId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="receivables_id" keyProperty="receivablesId" parameterType="com.sxu.crm.basic.domain.CrmReceivables" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into crm_receivables
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        `number`,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="examineRecordId != null">
        examine_record_id,
      </if>
      <if test="returnTime != null">
        return_time,
      </if>
      <if test="returnType != null">
        return_type,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="ownerUserId != null">
        owner_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="examineRecordId != null">
        #{examineRecordId,jdbcType=INTEGER},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=DATE},
      </if>
      <if test="returnType != null">
        #{returnType,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="ownerUserId != null">
        #{ownerUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sxu.crm.basic.domain.CrmReceivablesExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from crm_receivables
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update crm_receivables
    <set>
      <if test="record.receivablesId != null">
        receivables_id = #{record.receivablesId,jdbcType=INTEGER},
      </if>
      <if test="record.number != null">
        `number` = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.planId != null">
        plan_id = #{record.planId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.contractId != null">
        contract_id = #{record.contractId,jdbcType=INTEGER},
      </if>
      <if test="record.checkStatus != null">
        check_status = #{record.checkStatus,jdbcType=INTEGER},
      </if>
      <if test="record.examineRecordId != null">
        examine_record_id = #{record.examineRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.returnTime != null">
        return_time = #{record.returnTime,jdbcType=DATE},
      </if>
      <if test="record.returnType != null">
        return_type = #{record.returnType,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.ownerUserId != null">
        owner_user_id = #{record.ownerUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.batchId != null">
        batch_id = #{record.batchId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update crm_receivables
    set receivables_id = #{record.receivablesId,jdbcType=INTEGER},
      `number` = #{record.number,jdbcType=VARCHAR},
      plan_id = #{record.planId,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      contract_id = #{record.contractId,jdbcType=INTEGER},
      check_status = #{record.checkStatus,jdbcType=INTEGER},
      examine_record_id = #{record.examineRecordId,jdbcType=INTEGER},
      return_time = #{record.returnTime,jdbcType=DATE},
      return_type = #{record.returnType,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      owner_user_id = #{record.ownerUserId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      batch_id = #{record.batchId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxu.crm.basic.domain.CrmReceivables">
    <!--@mbg.generated-->
    update crm_receivables
    <set>
      <if test="number != null">
        `number` = #{number,jdbcType=VARCHAR},
      </if>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="examineRecordId != null">
        examine_record_id = #{examineRecordId,jdbcType=INTEGER},
      </if>
      <if test="returnTime != null">
        return_time = #{returnTime,jdbcType=DATE},
      </if>
      <if test="returnType != null">
        return_type = #{returnType,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="ownerUserId != null">
        owner_user_id = #{ownerUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=VARCHAR},
      </if>
    </set>
    where receivables_id = #{receivablesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxu.crm.basic.domain.CrmReceivables">
    <!--@mbg.generated-->
    update crm_receivables
    set `number` = #{number,jdbcType=VARCHAR},
      plan_id = #{planId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      contract_id = #{contractId,jdbcType=INTEGER},
      check_status = #{checkStatus,jdbcType=INTEGER},
      examine_record_id = #{examineRecordId,jdbcType=INTEGER},
      return_time = #{returnTime,jdbcType=DATE},
      return_type = #{returnType,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      owner_user_id = #{ownerUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      batch_id = #{batchId,jdbcType=VARCHAR}
    where receivables_id = #{receivablesId,jdbcType=INTEGER}
  </update>
</mapper>